
/*hover effects*/
#min-card:hover{
    box-shadow:  5px 10px 15px rgba(0,0,0,.3);
    transform: scale (1.03);

}

@media (max-width:768px){
    .container{
        padding: 20px;
    }
   
    
}
@media (max-width:768px){
   .card{
    width: 85%;
    margin: 20px;
    margin: 0px 0px 80px;
   }
   .card-container{
    padding: 0px;
}
    
}

